@(form: Form[CardForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Card Details") {

 <!-- MAIN CONTENT AREA -->
<div class="main-content">
    <div class="container">                             
        <div class="row show-grid">
            <div class="span12" data-original-title="">
                <div class="clear_both"></div>
                <div class="col-wrapper">                        
                <div class="row show-grid">
<!-- START LEFT-SIDE CONTACT FORM AREA -->
<div class="contact-info span8 ">
<h1><b>Card Details</b></h1>


    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }
<table style="width:40%;color:"blue"" >
  <tr>   
    @helper.form(postUrl) {
      @helper.CSRF.formField

  <td>    @helper.inputText(form("name"),'_label -> <b>Name</b>)</td></tr>

  <tr><td>    @helper.inputText(form("state"),'_label -> <b>State</b>)</td><td>  @helper.inputText(form("zip"),'_label -> <b>Zip</b>) </td></tr>

      

   <tr><td>   @helper.inputText(form("account_type"),'_label -> <b>Account Type (Card or ACH)</b>) </td></tr>

   <tr><td>    @helper.inputText(form("card_number"),'_label -> <b>Card Number</b>) </td> <td>  @helper.inputText(form("expiration_date"),'_label -> <b>Expiry Date (MMYY)</b>) </td>

       

   <td>   @helper.inputPassword(form("cvv2"),'_label -> <b>CVV</b>) </td> </tr>

   <tr><td>  @helper.inputText(form("account_number"),'_label -> <b>Account Number</b>)  </td>

    <td>  @helper.inputText(form("prepaid"),'_label -> <b>Prepaid (Yes/No)</b>)  </td>

    <td>  @helper.inputText(form("amount"),'_label -> <b>Amount</b>)  </td></tr>



    <tr><td>  <button>Process Payment</button> </td></tr>

    }

  }